.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.a {
  padding: 50px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
